<h1>Create a Figure</h1>
<form action="/figures" method="POST">

  <!-- Create Figure -->
  <label for="figure_name">Name:</label>
  <input type="text"  id="figure_name" name="figure[name]" >
<p></p>
    <!-- View/Create Titles -->
<h4>Titles</h4>
  <% Title.all.each do |title| %>
    <label> <%= title.name %> </label>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>

<p></p>

  <!-- View/Create Landmarks -->
<h4>Landmarks</h4>
  <% Landmark.all.each do |landmark| %>
  <label> <%= landmark.name %> </label>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>">
  <% end %>
<p></p>

<h3>Create a new Title</h3>
  <label for="new_title">Title:</label>
    <input type="text" id="new_title" name="title[name]" >

  <h3>Create a new Landmark</h3>
  <label>Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">
    <label>Year:</label>
      <input type="text" name="landmark[year_completed]">

  <input type="submit" value="Create New Figure">
</form>
